{% extends 'base.html' %}
{% block content %}
<h2>Flight List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Flight Number</th>
            <th>From</th>
            <th>To</th>
            <th>Departure</th>
            <th>Arrival</th>
        </tr>
    </thead>
    <tbody>
       {% for flight in flights %}
       <tr>
           <td>{{ flight.flight_number }}</td>
           <td>{{ flight.departure_city }}</td>
           <td>{{ flight.arrival_city }}</td>
           <td>{{ flight.status }}</td>
       </tr>
       {% empty %}
       <tr><td colspan="4">No flights available.</td></tr>
       {% endfor %}

    </tbody>
</table>
{% endblock %}
